.movieDetail{
    background-color: black;

    .detailRow{
        padding: 150px 0;

        
    .detailCol1{
        display: flex;
        justify-content: center;

        img{
            width: 32rem;
        }
    }

    .detailCol2{
        display: flex;
        flex-direction: column;
        color: white;

        .detailTop{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .detailTitle{
            font-size: 50px;
        }

        .detailTag{
            font-size: 30px;
        }

        .detailGenres{
            font-size: 20px;

            .detailBadge{
                margin-right: 10px;
                margin-bottom: 20px;
            }
        }

        .moreInfo{
            display: flex;

            .infoBox{
                display: flex;
                margin-right: 20px;

                .starIcon{
                    color: yellow;
                    margin: 4px 5px 0 0; 
                }

                .peopleIcon{
                    color:rgb(183, 95, 183);
                    font-size: 24px;
                    margin: 0 5px 0 0;
                }

                .adultIcon{
                    color: rgb(205, 2, 2);
                    font-size: 18px;
                    margin: 3px 5px 0 0;
                }
            }
        }

        .underBar{
            width: 100%;
            margin: 30px 0 20px 0;
            border: 1px solid white;
        }

        .overview{
            width: 100%;
        }

        .addInfo{
            margin-top: 20px;
            font-size: 1.2rem;

            .addInfoBox{
                display: flex;
                margin-bottom: 20px;
            }

            .addInfoBadge{
                width: 7rem;
                margin-right: 1rem;
            }
        }

        .trailer{
            display: flex;
            align-items: center;
            margin: auto;
            padding: 0.7rem 0;
            border-top: 1px solid red;
            border-bottom: 1px solid red;
            cursor: pointer;

            .trailerIcon{
                font-size: 1.4rem;
                color: rgb(207, 42, 42);
                margin:1px 5px 0 0;
            }
        }
    }
    }
}
