.reviewBtn2{
    font-size: 1.5rem;
    border-radius: 10px 10px 0 0;
    border: 0px;
    padding: 0.3rem 0.8rem;
    margin:0 1rem;
    color: rgb(217, 217, 217);
    background-color: gray;
}

.relatedBtn2{
    font-size: 1.5rem;
    border-radius: 10px 10px 0 0;
    border: 0px;
    padding: 0.3rem 0.8rem;
    color: white;
    background-color: #DC3545;
}