.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40rem;
    background-position: center 30px;
    background-repeat: no-repeat;

    &::before{
        position: absolute;
        left:0;
        width: 100%;
        height: 40rem;
        content: '';
        background: linear-gradient(to top, black,transparent);
    }

    .bannerInfo{
        width: 60%;
        margin-top: 250px;
        color: white;
        z-index: 1;
    }
}